@import "../../styles/colors.scss";

.button-wrapper {
  cursor: pointer;
  padding: 10px 20px;
  width: fit-content;

  &.primary-theme {
    background-color: $navy-blue;
    border: none;
    border-radius: 5px;
    color: white;

    &:hover {
      background-color: lighten($navy-blue, 10);
    }
  }

  &.secondary-theme {
    background-color: white;
    border: 1px solid $light-purple;
    border-radius: 5px;
    color: $navy-blue;

    &:hover {
      background-color: lighten($light-purple, 15);
    }
  }

  &.discord-theme {
    background-color: $discord-purple;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;

    &:hover {
      background-color: lighten($discord-purple, 10);
    }
  }
}
