@import "../../styles/colors.scss";

.button-wrapper {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  width: fit-content;
  border: none;
  color: white;
  border-radius: 5px;

  &.primary-theme {
    background-color: $skoip-navy;

    &:hover {
      background-color: lighten($skoip-navy, 10);
    }
  }

  &.secondary-theme {
    background-color: white;
    border: 1px solid $light-purple;
    color: $skoip-navy;

    &:hover {
      background-color: lighten($light-purple, 15);
    }
  }

  &.discord-theme {
    background-color: $discord-purple;

    &:hover {
      background-color: lighten($discord-purple, 10);
    }
  }

  &.spotify-theme {
    background-color: $spotify-green;

    &:hover {
      background-color: lighten($spotify-green, 2);
    }
  }

  &.green-theme {
    background-color: $skoip-green;

    &:hover {
      background-color: lighten($skoip-green, 10);
    }
  }
}
