@import "../../styles/colors.scss";

.generator_card_wrapper {
  height: 300px;
  width: 400px;
  background-color: $skoip-navy;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  position: relative;

  .generator_card_title {
    font-size: 25px;
  }

  .edit_icon {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
  }

  .delete_icon {
    position: absolute;
    left: 22px;
    top: 22px;
    width: 23px;
  }
}
