@import "../../styles/colors.scss";

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 440px;
}

.hero {
  background: linear-gradient(90deg, $skoip-navy 3.38%, $skoip-green 100%);
  color: white;
  text-align: center;
  justify-content: center;
  height: 540px;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    margin: 40px;
  }
}

.landing-content-row {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

.playlist-generator {
  background-color: $skoip-navy;
  color: white;
}
