@import "../../styles/colors.scss";

header {
  align-items: center;
  background: linear-gradient(90deg, $skoip-navy 3.38%, $skoip-green 100%);
  color: white;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 0px 25px;
}

.title {
  font-size: 32px;
  font-weight: bold;
}
